body{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
}

#name-title{
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.intro{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 5rem;
    text-align: center;
    line-height: 2rem;
    width: 100vh;
    align-items: center;
    align-self: center;
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    text-decoration: none;
}

#github-icon{
    height: 5rem;
    width: 5rem;
}

#linkedin-icon{
    height: 3.2rem;
    width: 3.2rem;
    margin-top: 0.8rem;
}

#profile-photo{
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 50%;
}

#name-intro{
    white-space: nowrap;
    font-size: 4rem;
    font-weight: 700;
}

#bio-heading{
    font-size: 1.2rem;
    font-weight: 700;
    color: #252424;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

#bio{
    color: #3c3939;
    text-align: left;   
    line-height: 1.5rem;
}

