body{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#title{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#balance-table{
    margin-top: 20px;
}

table{
    border-collapse: collapse;
}
th,
td {
    font-weight: 200;
  padding: 8px;
  border: 1.5px solid #e1dfdf;
  text-align: left;
}

.button{
    padding: 0.6rem 1.5rem;
    border-radius: 5rem;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
    border: none ;
    margin-top: 1rem;
}

.button:hover{
    background-color: rgb(59, 56, 56);
}

.input{
    background-color: transparent;
    border: 1px solid #4b4a4a ;
    height: 30px;
    padding: 0.1rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    border-radius: 5rem;
}